@{
    ViewBag.Title = "Instartius Smarket";
}

<h2>@ViewBag.Message</h2>
<p>
    Instartius Smarket es un sistema de gestión de inventario inteligente adaptado mediante servicios Web con cualquier tipo de dispositivo.
    <br /><br />Más información, visite nuestra empresa <a href="http://www.instartius.com">www.instartius.com</a>
</p>
